<div class="background">
    <h3>What I am currently learning</h3>
    <div class="currentlyLearningSection">
        <span>I am currently learning</span>
        <div>
            <div>
                <img src="./../../../assets/img/react.png" alt="">
                <span class="size14">REACT</span>
            </div>
            <div>
                <img src="./../../../assets/img/VueJs.png" alt="">
                <span class="size14">VUE JS</span>
            </div>
        </div>
        <span class="motivation">Staying motivated to expand my IT<br> skills requires a strategic approach, a<br> curious mindset, and a commitment <br> to lifelong learning.</span>
        <span class="motivationResponsive">Staying motivated to expand my IT skills requires a strategic approach, a curious mindset, and a commitment to lifelong learning.</span>
    </div>
</div>

