<div class="background">
    <h3>{{ globalLanguage === 'DE' ? staticTexts.german.head : staticTexts.english.head }}</h3>
    <div class="currentlyLearningSection">
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.subHead : staticTexts.english.subHead }}</span>
        <div>
            <div>
                <img src="assets/img/svelte.png" alt="">
                <span class="size14">SVELTE</span>
            </div>
        </div>
        <span class="motivation">{{ globalLanguage === 'DE' ? staticTexts.german.motivation2[0] : staticTexts.english.motivation2[0] }}<br>
            {{ globalLanguage === 'DE' ? staticTexts.german.motivation2[1] : staticTexts.english.motivation2[1] }}<br> 
            {{ globalLanguage === 'DE' ? staticTexts.german.motivation2[2] : staticTexts.english.motivation2[2] }} <br> 
            {{ globalLanguage === 'DE' ? staticTexts.german.motivation2[3] : staticTexts.english.motivation2[3] }} <br>
            {{ globalLanguage === 'DE' ? staticTexts.german.motivation2[4] : staticTexts.english.motivation2[4] }} <br>
            {{ globalLanguage === 'DE' ? staticTexts.german.motivation2[5] : staticTexts.english.motivation2[5] }}
        </span>
        <span class="motivationResponsive">{{ globalLanguage === 'DE' ? staticTexts.german.motivation : staticTexts.english.motivation }}</span>
    </div>
</div>

