@import './../../../styles.scss';
@import './../../../allFont.scss';

.background {
    @include orderElements();
    width: 450px;
    height: 450px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./../../../assets/img/currentlyLearningBg2.png') no-repeat center;
        opacity: 1;
        transition: opacity 0.5s ease-in-out; 
        z-index: 1; 
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./../../../assets/img/currentlyLearningBgHover.png') no-repeat center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        z-index: 2; 
    }

    &:hover::after {
        opacity: 0; 
        filter: brightness(1.2);  
    }

    &:hover::before {
        opacity: 1; 
        filter: brightness(1.2);  
    }
}

.currentlyLearningSection {
    @include orderElements();
    @include setFont($size: 18px, $family: 'Josefin Sans', $weight: 400);
    color: $creme_white;
    padding: 16px;
    width: 310px;
    height: 310px;
    text-align: center;
    line-height: 22px;
   
    >div {
        @include orderElements($direction: row, $justify_content: space-evenly);
        margin-top: 16px;
        margin-bottom: 16px;
        width: 140px;

        >div{
            @include orderElements();
        }
    }

}

.size14 {
    font-size: 14px;
}