@import './../../../styles.scss';
@import './../../../allFont.scss';

.background {
    @include orderElements();
    width: 380px;
    height: 390px;
    border-radius: 162px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./../../../assets/img/currentlyLearningBg2.png') no-repeat center;
        opacity: 1;
        transition: opacity 0.5s ease-in-out; 
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./../../../assets/img/currentlyLearningBgHover.png') no-repeat center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    &:hover::after {
        opacity: 0; 
        filter: brightness(1.2);  
    }

    &:hover::before {
        opacity: 1; 
        filter: brightness(1.2);  
    }

    >h3 {
        display: none;
    }
}

.currentlyLearningSection {
    @include orderElements();
    @include setFont($size: 18px, $family: 'Josefin Sans', $weight: 400);
    color: $creme_white;
    padding: 16px;
    width: 310px;
    height: 310px;
    text-align: center;
    line-height: 22px;
   
    >div {
        @include orderElements($direction: row, $justify_content: space-evenly);
        margin-top: 16px;
        margin-bottom: 16px;
        width: 140px;

        >div{
            @include orderElements();
        }
    }
}

.size14 {
    font-size: 14px;
}

.motivationResponsive{
    display: none;
}

@media only screen and (max-width: 1200px) {
    .background {
        margin-top: 64px;
        width: 100%;
        height: auto;
        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .currentlyLearningSection {
        width: 100%;
        height: 250px;
        
        >span {
            &:nth-child(1) {
                display: none !important;
            }
        }

        > div {
            justify-content: center;
            gap: 16px;
            margin: 0 0 48px 0;
            background-image: url('./../../../assets/img/ellipseCurrentlyLearningResponsive.png');
            background-position: center;
            background-repeat: no-repeat;
            width: 170px;
            height: 97px;
            > div {
               
                &:nth-child(1){
                    order: 2;
                }
                &:nth-child(2){
                    order: 1;
                }
            }
        }
    }

    h3 {
        @include setFont($family: 'Josefin Sans', $size: 24px, $weight: 400);
        color: $primary_blue;
        display: flex !important;
    }

    .motivationResponsive{
        display: flex;
        text-align: justify;
        max-width: 450px;
        width: 100%;
    }

    .motivation{
        display: none;
    }
}