@import './../../../styles.scss';
@import './../../../allFont.scss';

section {
    @include orderElements($direction: row, );
    width: 100%;
    height: 100%;
    margin-top: 64px;
    box-sizing: border-box;
    padding: 0 32px 0 32px;
    max-width: 1300px;


    >.projectBulletPoints {
        @include orderElements($align_items: start, $justify_content: start);
        margin-right: 48px;
        margin-left: 150px;
        height: 100%;
        width: 100%;
        max-width: 700px;

        >div {
            color: $creme_white;
            margin-bottom: 32px;
            width: 100%;
            >span {
                @include setFont($family: 'Josefin Sans', $size: 18px, $weight: 400);
                line-height: 22px;
            }

            >div {
                @include orderElements($direction: row, $justify_content: start);
                margin-bottom: 16px;
                position: relative;

                >img {
                    position: absolute;
                    left: -64px;
                }

                >h3 {
                    @include setFont($family: 'Josefin Sans', $size: 28px, $weight: 400);

                }
            }

        }
    }

    >.projectImgs {
        @include orderElements($justify_content: start);
        color: $creme_white;
        height: 100%;
        width: 100%;
        max-width: 700px;

        >img {
            max-width: 450px;
            width: 100%;
            height: 250px;
            border-radius: 24px;
        }
    }

    .technologies {
        @include orderElements ();
        width: 100%;

        >span {
            @include setFont($family: 'Josefin Sans', $size: 18px, $weight: 400);
            line-height: 22px;
        }

        >.techImgOrder {
            @include orderElements ($gap: 36px, $direction: row);
            width: 100%;
            margin-bottom: 16px;
            margin-top: 16px;

            >img {
                height: 36px;
                width: 36px;
            }
        }
    }
}

.techResponsive {
    @include orderElements($align_items: start);
    width: 100%;
}


.duration {
    @include setFont($family: 'Josefin Sans', $size: 18px, $weight: 400);
    line-height: 22px;
    margin-left: 32px;
}

.durationSmartphone {
    display: none;
}


.titleResponsive {
    @include setFont($family: 'Josefin Sans', $size: 32px, $weight: 900);
    color: $primary_blue;
    margin-bottom: 32px;
    display: none;

}

.projectLinks {
    @include orderElements($direction: row, $justify_content: center, $gap: 32px);
    width: 300px;
    margin-top: 32px;
    margin-bottom: 32px;

    >a {
        @include orderElements();
        @include setFont($family: 'Josefin Sans', $size: 18px, $weight: 400);
        line-height: 22px;
        text-decoration: none;
        border: 1px solid $primary_blue;
        border-radius: 32px;
        width: 132px;
        height: 48px;
        cursor: pointer;

        &:nth-child(1) {
            background-color: $primary_blue;
            color: $primary_dark_grey;

            &:hover {
                background-color: $creme_white;
                border: 1px solid $creme_white;
            }
        }

        &:nth-child(2) {
            background-color: $tabBg;
            color: $primary_blue;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #3F454A;
            }
        }


    }


}

.projectLinksSmartphone {
    display: none;
}



@media only screen and (max-width: 1225px) {
    section {
        flex-direction: column !important;

        >.projectImgs {
            order: 1;

            >.projectLinksPC {
                display: none !important;
                width: 100% !important;
                justify-content: center !important;
                gap: 64px !important;
            }
        }



    }

    .technologies {
        flex-direction: row !important;
        justify-content: start !important;
    }

    .durationSmartphone {
        display: block;
        margin: 0 0 32px 0 !important;
    }

    .durationPc {
        display: none !important;
    }

    .projectBulletPoints {
        order: 2;
        margin: 32px 0 0 0 !important;
        align-items: center !important;

        >.projectLinksSmartphone {
            display: flex !important;
        }

        >div {
            >div {
                >h3 {
                    color: $primary_blue;
                    margin-left: 16px;
                    font-size: 20px !important;
                }

                >img {
                    position: static !important;
                }

                >span {
                    font-size: 16 !important;
                }
            }
        }
    }


}


@media only screen and (max-width: 900px) {
    .titleResponsive {
        display: block;
    }

}


@media only screen and (max-width: 450px) {

    .techResponsive {
        align-items: center !important;
      
    }

    .projectImgs{
        >img {
            height: 200px !important;
        }
    }

    .technologies {
        flex-direction: column !important;
    }

}