<section>
    <div class="projectBulletPoints">
        <div>
            <div>
                <img src="./../../../assets/img/bulletPoint.png" alt="">
                <h3>{{ project.headline1 }}</h3>
                <span class="duration durationPc">{{ globalLanguage === 'DE' ? duration.german : duration.english }} {{ project.duration }}</span>
            </div>
            <span [innerHTML]="project.description1"></span>
        </div>
        <div>
            <div>
                <img src="./../../../assets/img/bulletPoint.png" alt="">
                <h3>{{ project.headline2 }}</h3>
            </div>
            <span [innerHTML]="project.description2"></span>
        </div>
        <div>
            <div>
                <img src="./../../../assets/img/bulletPoint.png" alt="">
                <h3>{{ project.headline3 }}</h3>
            </div>
            <span [innerHTML]="project.description3"></span>
        </div>
        <div class="projectLinks projectLinksSmartphone">
            <a href="">Live Test</a>
            <a href="">GitHub</a>
        </div>
    </div>
    <div class="projectImgs">
        <h3 class="titleResponsive">{{ project.title }}</h3>
        <div class="techResponsive">
            <div class="technologies">
                <span>{{ globalLanguage === 'DE' ? 'Technologien' : 'Technologies' }}</span>
                <div class="techImgOrder">
                    @for (img of project.technologies; track $index) {
                        <img [src]= "img" alt="">
                    }
                </div>
            </div>
            <span class="duration durationSmartphone">{{ globalLanguage === 'DE' ? 'Dauer' : 'Duration' }}: {{ project.duration }}</span>
        </div>   
        <img [src]="project.img" alt="">
        <div class="projectLinks projectLinksPC">
            <a href="">Live Test</a>
            <a href="">GitHub</a>
        </div>
    </div>
</section>