<section>
    <div class="projectBulletPoints">
        <div>
            <div>
                <img src="./../../../assets/img/bulletPoint.png" alt="">
                <h3>{{ project.headline1 }}</h3>
                <span>Duration: {{ project.duration }}</span>
            </div>
            <span [innerHTML]="project.description1"></span>
        </div>
        <div>
            <div>
                <img src="./../../../assets/img/bulletPoint.png" alt="">
                <h3>{{ project.headline2 }}</h3>
            </div>
            <span [innerHTML]="project.description2"></span>
        </div>
        <div>
            <div>
                <img src="./../../../assets/img/bulletPoint.png" alt="">
                <h3>{{ project.headline3 }}</h3>
            </div>
            <span [innerHTML]="project.description3"></span>
        </div>
    </div>
    <div class="projectImgs">
        <span>Technologies</span>
        <div class="techImgOrder">
            <img [src]="project.technologies[0]" alt="">
            <img [src]="project.technologies[1]" alt="">
            <img [src]="project.technologies[2]" alt="">
        </div>
        <img [src]="project.img" alt="">
        <div class="projectLinks">
            <a href="">Live Test</a>
            <a href="">GitHub</a>
        </div>
    </div>
</section>