@import './../../styles.scss';
@import './../../allFont.scss';

section {
  @include orderElements();
  width: 100%;
  background-color: $primary_dark_grey;

  >h2 {
    @include setFont($family: 'Anta', $size: 60px, $weight: 400);
    color: $primary_blue;
    margin-top: 128px;
    margin-bottom: 48px;
    text-align: center;
  }

  >div {
    @include orderElements($direction: row);
    width: 100%;

    >button {
      @include setFont($family: 'Josefin Sans', $size: 30px, $weight: 500);
      width: 250px;
      height: 100px;
      cursor: pointer;
      border: none;
    }
  }
}

.activeBtn {
  background-color: $tabBg;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  color: $creme_white;
}

.inactiveBtn {

  color: $primary_blue;

  background-color: $primary_dark_grey;

  &:hover {
    color: $creme_white;
  }
}

.appProjectWrapper {
  background-color: $tabBg;
}

@keyframes slideInFromRight {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

app-project {
  @include orderElements ();
  width: 100%;
  display: none; 

  &.active {
    display: flex; 
  }

  &.animate {
    animation: slideInFromRight 1s ease-in-out;
    overflow: hidden !important;
  }
}

@media only screen and (max-width: 700px) {
  section {
    >div {
      >button {
        font-size: 20px !important;
        width: 150px !important;
        height: 50px !important;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  section {
    >div {
      >button {
        font-size: 16px !important;
      }
    }
  }
}

@media only screen and (max-width: 880px){
  h2 {
      margin-top: 64px !important;
  }
}