<section>
    <h2>My Projects</h2>
    <div>
        @for  (element of projects; track $index) {
            <button (click)="activateBtn($index)" [ngClass]="activeButton === $index ? 'activeBtn' : 'inactiveBtn'">{{ $index+ 1 }}.
                @if (showTitle) {
                    <span>{{ element.title }}</span>
                } @else {
                    <span>Project</span>
                }
                </button>
        }
        
    </div>
    <div class="appProjectWrapper" >
        @if (activeButton !== null) {
            <app-project [project]="projects[activeButton]" [ngClass]="{'active': activeButton !== null, 'animate': triggerAnimation}" ></app-project>
            }
    </div>

</section>
