<section>
    <h2>{{ globalLanguage === 'DE' ? staticTexts.german.headline : staticTexts.english.headline }}</h2>
    <div>
        @for (element of (globalLanguage === 'DE' ? projectsGerman : projectsEnglish); track $index) {
            <button (click)="activateBtn($index)" [ngClass]="activeButton === $index ? 'activeBtn' : 'inactiveBtn'">{{ $index + 1 }}.
                @if (showTitle) {
                    <span>{{ element.title }}</span>
                } @else {
                    <span>{{ globalLanguage === 'DE' ? staticTexts.german.project : staticTexts.english.project }}</span>
                }
            </button>
        }  
    </div>
    <div class="appProjectWrapper" >
        @if (activeButton !== null) {
            <app-project [project]="globalLanguage === 'DE' ? projectsGerman[activeButton] : projectsEnglish[activeButton]"  [ngClass]="{'active': activeButton !== null, 'animate': triggerAnimation}" ></app-project>
            }
    </div>
</section>
