<section>
    <h2>{{globalLanguage === 'DE' ? headline.german : headline.english}}</h2>
    <div class="overflowWrapper">
        <div class="presentationWrapper" >
            @for  (element of (globalLanguage === 'DE' ? presentation.german : presentation.english); track $index) {
                <div class="background">
                    <div class="representationSection">
                        <h3>{{element.title}}</h3>
                        <span>{{element.text}}</span>
                        <img [src]="element.img" alt="">
                    </div>
                </div>
            }
           
        </div>
    </div>
</section>
