<section>
  <div class="headlineContact">
    <h2>{{ globalLanguage === 'DE' ? staticTexts.german.headline : staticTexts.english.headline }}</h2>
    <a href="#hero">
      <svg class="rotate180" width="22" height="50" viewBox="0 0 22 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12.4142 45.0634L19.3265 38.7604C19.7082 38.4123 20.2923 38.4123 20.6741 38.7604L21.1897 39.2306C21.6246 39.6272 21.6246 40.3118 21.1897 40.7084L11.6738 49.3856C11.292 49.7337 10.708 49.7337 10.3262 49.3856L0.810336 40.7084C0.375396 40.3118 0.375396 39.6272 0.810337 39.2306L1.32595 38.7604C1.7077 38.4123 2.29178 38.4123 2.67354 38.7604L9.58575 45.0634L9.58575 1C9.58575 0.447717 10.0335 0 10.5858 0L11.4142 0C11.9665 0 12.4142 0.447715 12.4142 1L12.4142 45.0634Z"
          fill="#89BCD9" />
      </svg>
    </a>
  </div>
  <div class="interestedWrapper">
    <span class="interested">{{ globalLanguage === 'DE' ? staticTexts.german.text : staticTexts.english.text }}</span>
    <a href="mailto:jonasgersting@web.de">
      <div class="icon"></div>E-mail: jonasgersting&#64;web.de
    </a>
  </div>
  <form action="submit" (ngSubmit)="submit(form)" #form="ngForm">
    <div class="inputSmallWrapper">
      <div class="form-group">
        <input class="inputSmall" type="text" id="name" placeholder=" " name="yourName" [(ngModel)]="yourName"
          #name="ngModel" required>
        <label for="name" [ngClass]="{'invalid-label': name.invalid && name.touched}">{{ name.invalid && name.touched ?
          ( globalLanguage === 'DE' ? staticTexts.german.labelNameError : staticTexts.english.labelNameError ) : ( globalLanguage === 'DE' ? staticTexts.german.labelName : staticTexts.english.labelName ) }}</label>
      </div>

      <div class="form-group">
        <input class="inputSmall" type="text" id="mail" placeholder=" " name="yourMail" [(ngModel)]="yourMail"
          #mail="ngModel" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
        <label class="mailLabel" for="mail" [ngClass]="{'invalid-label': mail.invalid && mail.touched}">{{ mail.invalid && mail.touched ?
          ( globalLanguage === 'DE' ? staticTexts.german.labelMailError : staticTexts.english.labelMailError ) : ( globalLanguage === 'DE' ? staticTexts.german.labelMail : staticTexts.english.labelMail ) }}</label>
      </div>
    </div>

    <div class="inputBig">
      <textarea id="message" placeholder=" " name="yourMessage" [(ngModel)]="yourMessage" #message="ngModel" required
        pattern=".{10,}"></textarea>
      <label for="message" [ngClass]="{'invalid-label': message.invalid && message.touched}">{{ message.invalid &&
        message.touched ? ( globalLanguage === 'DE' ? staticTexts.german.labelMessageError : staticTexts.english.labelMessageError ) : ( globalLanguage === 'DE' ? staticTexts.german.labelMsg : staticTexts.english.labelMsg ) }}</label>
    </div>

    <div class="privacyPolicyCheckbox">
      <div>
        <input class="checkbox" type="checkbox" id="privacyCheckbox" [(ngModel)]="isPrivacyPolicyChecked"
          name="privacyCheckbox">
        <label for="privacyCheckbox"></label> 
      </div>
     

      <span> {{ globalLanguage === 'DE' ? staticTexts.german.privacyPol1 : staticTexts.english.privacyPol1 }} <a href="privacyPolicy">{{ globalLanguage === 'DE' ? staticTexts.german.privacyPolLink : staticTexts.english.privacyPolLink }} </a>
        {{ globalLanguage === 'DE' ? staticTexts.german.privacyPol2 : staticTexts.english.privacyPol2 }}</span>
    </div>
    <div class="privacyError">
      @if (!isPrivacyPolicyChecked) {
        <label for="privacyCheckbox">{{ globalLanguage === 'DE' ? staticTexts.german.privacyError : staticTexts.english.privacyError }}</label>
      }
    </div>
    <div class="sendWrapper">
      <button type="submit" [disabled]="!isFormValid()">Send</button>
    </div>
  </form>
  <div class="heroLinkResponsive">
    <a href="#hero">
      <svg class="rotate180" width="22" height="50" viewBox="0 0 22 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12.4142 45.0634L19.3265 38.7604C19.7082 38.4123 20.2923 38.4123 20.6741 38.7604L21.1897 39.2306C21.6246 39.6272 21.6246 40.3118 21.1897 40.7084L11.6738 49.3856C11.292 49.7337 10.708 49.7337 10.3262 49.3856L0.810336 40.7084C0.375396 40.3118 0.375396 39.6272 0.810337 39.2306L1.32595 38.7604C1.7077 38.4123 2.29178 38.4123 2.67354 38.7604L9.58575 45.0634L9.58575 1C9.58575 0.447717 10.0335 0 10.5858 0L11.4142 0C11.9665 0 12.4142 0.447715 12.4142 1L12.4142 45.0634Z"
          fill="#89BCD9" />
      </svg>
    </a>
  </div>
  @if (messageSent) {
    <span [ngClass]="'msgInfoBadge'" class="msgDone">{{ globalLanguage === 'DE' ? staticTexts.german.msgDone : staticTexts.english.msgDone }}</span>
  }
  @if (messageSentFail) {
    <span [ngClass]="'msgInfoBadge'" class="msgError">{{ globalLanguage === 'DE' ? staticTexts.german.msgError : staticTexts.english.msgError }}</span>
  }
</section>