@import './../../../styles.scss';
@import './../../../allFont.scss';

div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding: 16px;

    >div {
        @include orderElements($direction: column);
        width: 55px;
        height: 60px;

        >img {

            transition: 0.3s transform;

            &:hover {
                transform: rotateY(180deg);
            }
        }

        ;

        >span {
            @include setFont ($family: 'Josefin Sans', $size: 18px, $weight: 400);
            margin-top: 16px;
            color: $primary_blue;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
            width: 85px;
        }

        text-align: center;
    }
}



@media only screen and (max-width: 500px) {
    div {
        padding: 0 !important;
    }
    .hideForResponsive {
        display: none;
    }
 }

 @media only screen and (max-width: 360px) {
    div {
        >div {
            width: 40px;
            height: 45px;
            > img {
                width: 100%;
            }
        }
    }
 }

