
<section>
    <h2>Why me</h2>
    <div class="orderLocAndText">
        <div class="location">
            <img [src]="currentIcon" alt="">
            <span>{{ prefixText }}</span><span>{{ displayedText }}</span><span>{{ endFix }}</span><span [ngClass]="{ 'transparent': isTransparent }">{{ cursor }}</span>
        </div>
        <div class="whoAmI">
            <span>I am motivated to continuously learn new technologies and develop myself. My ability to solve complex problems and my passion for programming make me a valuable member for your team.</span>
            <div>
                <a href="">Let's talk</a>
            </div>
        </div>
    </div>
    
</section>

