
<section>
    <h2>{{ globalLanguage === 'DE' ? staticTexts.german.headline : staticTexts.english.headline }}</h2>
    <div class="orderLocAndText">
        <div class="location">
            <img [src]="currentIcon" alt="">
            <div>
                <span>{{ prefixText }}</span><span>{{ displayedText }}</span><span>{{ endFix }}</span><span [ngClass]="{ 'transparent': isTransparent }">{{ cursor }}</span>
            </div>
        </div>
        <div class="whoAmI">
            <span>{{ globalLanguage === 'DE' ? staticTexts.german.motivation : staticTexts.english.motivation }}</span>
            <div>
                <a href="#contact">{{ globalLanguage === 'DE' ? staticTexts.german.contact : staticTexts.english.contact }}</a>
            </div>
        </div>
    </div> 
</section>

