<div class="orderNavbar">
    <a href="" class="orderLogo">
        <img src="../../../assets/img/logo.png" alt="">
        <span class="anta" >J.Gersting</span>
        <span class="josefin-sans">developer</span>
    </a>
    <div class="links">
        <a href="">Why me</a>
        <a href="">Skills</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
    </div>
    <div class="switchLangBtns">
        <button 
        [ngClass]="{'active': selectedLang === 'DE'}" 
        (click)="setLanguage('DE')">DE</button>
        <button
        [ngClass]="{'active': selectedLang === 'EN'}" 
        (click)="setLanguage('EN')">EN</button>
    </div>
</div>