@import './../../../styles.scss';
@import './../../../allFont.scss';



.links {
    @include orderElements($justify_content: space-between, $direction: row);
    width: 800px;

    >a {
         @include orderElements();
        font-family: 'Josefin Sans';
        border: none;
        text-decoration: none;
        font-size: 26px;
        color: $primary_dark_grey;
        width: 100px;
        height: 56px;

        &:hover{
            color: $creme_white;
        }

        
        &.activeLink {
            background-image: url('./../../../assets/img/ellipseMenuBig.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $creme_white;
        }
    }
}

.orderNavbar {
    padding: 24px;
    @include orderElements($gap: 32px, $direction: row, $justify_content: space-around);
    background-color: $primary_blue;
    z-index: 5;
}

.orderLogo {
    @include orderElements();
    text-decoration: none;

    >img {
        height: 38px;
        width: 52px;
    }

    >span {
        &:nth-child(2) {
            color: $creme_white;
            font-weight: 400;
        }

        &:nth-child(3) {
            color: $primary_dark_grey;
            font-weight: 300;
        }

        font-size: 14;
    }
}


.switchLangBtns {

    >button {
        cursor: pointer;
        height: 25px;
        color: $primary_dark_grey;
        font-weight: 400;
        font-size: 18px;
        border: none;
        background-color: transparent;


        &:hover {
            background-image: none;
            color: $creme_white;
        }

        &.active {
            background-image: url('./../../../assets/img/ellipse.png');
            color: $creme_white;
        }
    }
}

