@import './../styles.scss';
@import './../allFont.scss';
app-navbar {
    position: sticky;
    top: 0;
    z-index: 5;
}

.scroll-animate {
    opacity: 0;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in-right {
    animation: appear 1.5s ease-in-out forwards;
}

.orderComponent {
    @include orderElements();
}

