<app-navbar></app-navbar>
<section>
    <div>
        <h2>{{ globalLanguage === 'DE' ? staticTexts.german.privacyHeadline : staticTexts.english.privacyHeadline }}
        </h2>
        <h3>{{ globalLanguage === 'DE' ? staticTexts.german.peronalData[0] : staticTexts.english.peronalData[0] }}</h3>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.peronalData[1] : staticTexts.english.peronalData[1]
            }}</span><br>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.peronalData[2] : staticTexts.english.peronalData[2]
            }}</span>
        <h3>{{ globalLanguage === 'DE' ? staticTexts.german.yourRights[0] : staticTexts.english.yourRights[0] }}</h3>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.yourRights[1] : staticTexts.english.yourRights[1]
            }}</span>
        <ul>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.yourRights[1] : staticTexts.english.yourRights[1] }}
            </li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.yourRights[2] : staticTexts.english.yourRights[2] }}
            </li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.yourRights[3] : staticTexts.english.yourRights[3] }}
            </li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.yourRights[4] : staticTexts.english.yourRights[4] }}
            </li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.yourRights[5] : staticTexts.english.yourRights[5] }}
            </li>
        </ul>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.yourRights[6] : staticTexts.english.yourRights[6]
            }}</span>
        <h3>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[0] : staticTexts.english.visitingWebsite[0]
            }}</h3>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[1] :
            staticTexts.english.visitingWebsite[1] }}</span>
        <ul>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[2] :
                staticTexts.english.visitingWebsite[2] }}</li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[3] :
                staticTexts.english.visitingWebsite[3] }}</li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[4] :
                staticTexts.english.visitingWebsite[4] }}</li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[5] :
                staticTexts.english.visitingWebsite[5] }}</li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[6] :
                staticTexts.english.visitingWebsite[6] }}</li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[7] :
                staticTexts.english.visitingWebsite[7] }}</li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[8] :
                staticTexts.english.visitingWebsite[8] }}</li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[9] :
                staticTexts.english.visitingWebsite[9] }}</li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[10] :
                staticTexts.english.visitingWebsite[10] }}</li>
            <li>{{ globalLanguage === 'DE' ? staticTexts.german.visitingWebsite[11] :
                staticTexts.english.visitingWebsite[11] }}</li>
        </ul>
        <h3>{{ globalLanguage === 'DE' ? staticTexts.german.contactForm[0] : staticTexts.english.contactForm[0] }}</h3>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.contactForm[1] : staticTexts.english.contactForm[1]
            }}</span>
        <h3>{{ globalLanguage === 'DE' ? staticTexts.german.hosting[0] : staticTexts.english.hosting[0] }}</h3>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.hosting[1] : staticTexts.english.hosting[1] }}</span><br>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.hosting[2] : staticTexts.english.hosting[2] }}<a
                href="https://all-inkl.com/datenschutzinformationen/"> https://all-inkl.com/datenschutzinformationen/</a></span><br>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.hosting[3] : staticTexts.english.hosting[3] }}</span><br>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.hosting[4] : staticTexts.english.hosting[4] }}</span><br>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.hosting[5] : staticTexts.english.hosting[5] }}</span>
        <h3>{{ globalLanguage === 'DE' ? staticTexts.german.plugins[0] : staticTexts.english.plugins[0] }}</h3>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.plugins[1] : staticTexts.english.plugins[1] }}</span><br>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.plugins[2] : staticTexts.english.plugins[2] }}</span><br>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.plugins[3] : staticTexts.english.plugins[3] }}
            <a href="https://developers.google.com/fonts/faq"> https://developers.google.com/fonts/faq </a>
            <span>{{ globalLanguage === 'DE' ? staticTexts.german.plugins[4] : staticTexts.english.plugins[4] }}</span>
            <a href="https://policies.google.com/privacy"> https://policies.google.com/privacy.</a>
        </span>
        <h3>{{ globalLanguage === 'DE' ? staticTexts.german.changes[0] : staticTexts.english.changes[0] }}</h3>
        <span>{{ globalLanguage === 'DE' ? staticTexts.german.changes[1] : staticTexts.english.changes[1] }}</span>
    </div>
</section>