@import './../../styles.scss';
@import './../../allFont.scss';

section {
    @include orderElements();
    background-color: $primary_dark_grey;
    width: 100%;
    max-width: 1500px;
    box-sizing: border-box;
    padding: 0 32px 0 32px;

    > h2 {
        @include setFont($family: 'Anta',  $size: 60px, $weight: 400);
        color: $primary_blue;
        margin-top: 128px;
        margin-bottom: 48px;
    }

    > div {
        @include orderElements($direction: row);
    }
}


@media only screen and (max-width: 1200px) {
   section {
    > div {
        flex-direction: column;
    }
   }
}