$primary_blue: #89BCD9;
$primary_dark_grey: #262E34;
$creme_white: #F8F5EC;
$secondary_light_grey: rgba(38, 46, 52, 0.1);
$error: #E44C35;
$done: #97E163;
$tabBg: #2D383F;
$secondary_light_blue: #1F262B;

@mixin orderElements($display: flex, $justify_content: center, $align_items: center, $gap: 0px, $direction: column) {
    display: $display;
    justify-content: $justify_content;
    align-items: $align_items;
    gap: $gap;
    flex-direction: $direction;
}

@mixin setFont($family, $size, $weight, ) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}


* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: $primary_dark_grey;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $primary_blue;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}