@import './../../../styles.scss';
@import './../../../allFont.scss';

footer{
    @include orderElements();
    background-color: $primary_blue;
}
.maxWidthFooter{
    @include orderElements($direction: row, $justify_content: space-between, $align_items: end);
    width: 100%;
    background-color: $primary_blue;
    height: 215px;
    padding: 48px 10rem 48px 10rem;
    box-sizing: border-box;
    max-width: 1400px;
}

.legalNotice {
    @include orderElements($align_items: start, $gap: 4px);
    @include setFont($family: 'Josefin Sans', $size: 18px, $weight: 400);
    color: $primary_dark_grey;

    >a {
        text-decoration: none;
        color: $primary_dark_grey;

        &:hover {
            color: $creme_white;
        }
    }

}

.orderLogo {
    @include orderElements();
    text-decoration: none;

    >img {
        height: 38px;
        width: 52px;
    }

    >span {
        &:nth-child(2) {
            color: $creme_white;
            font-weight: 400;
        }

        &:nth-child(3) {
            color: $primary_dark_grey;
            font-weight: 300;
        }

        font-size: 14;
    }
}

.socialMedia {
    @include orderElements($direction: row, $gap: 16px, $justify_content: space-between);
    width: 140px;
    >a {
        margin-bottom: 8px !important;
        width: 32px;
        height: 32px;
        background-position: center;
        background-repeat: no-repeat;

        &:nth-child(1) {
            background-image: url('./../../../assets/img/githubFooter.png');

            &:hover {
                background-image: url('./../../../assets/img/githubFooterHover.png');
            }
        }

        &:nth-child(2) {
            background-image: url('./../../../assets/img/mailFooter.png');

            &:hover {
                background-image: url('./../../../assets/img/mailFooterHover.png');
            }
        }

        &:nth-child(3) {
            background-image: url('./../../../assets/img/linkedinFooter.png');

            &:hover {
                background-image: url('./../../../assets/img/linkedinFooterHover.png');
            }
        }
    }
}

.hyperLink {
    @include setFont($family: 'Josefin Sans', $size: 18px, $weight: 400);
    text-decoration: none;
    color: $primary_dark_grey;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    &:hover{
        color: $creme_white;
    }
}


@media only screen and (max-width: 800px) {
    .maxWidthFooter {
        height: auto;
        padding: 10% 0 10% 0;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 16px;
    }

    .orderLogo {
        order: 1; 
    }
    
    .socialMedia {
        order: 2; 
        width: 150px;
    }
    
    .legalNotice {
        flex-direction: row !important;
        order: 3; 
    }

}