<footer>
    <div class="legalNotice">
        <a href="#">{{ globalLanguage === 'DE' ? imprint.german : imprint.english }}</a>
        <span>© Jonas Gersting 2025</span>
    </div>
    <div href="#hero" class="orderLogo">
        <img src="./../../../assets/img/logo.png" alt="">
        <span class="anta">J.Gersting</span>
        <span class="josefin-sans">developer</span>
    </div>
    <div class="socialMedia">
        <a target="_blank" href="https://github.com/JonasGersting"></a>
        <a target="_blank" href="mailto:jonasgersting@web.de"></a>
        <a target="_blank" href="https://www.linkedin.com/in/jonas-gersting-61092734a/"></a>
    </div>
</footer>